<div class="row mt-50">
  <div class="col setting-actions justify-content-between d-flex h-70 align-items-center">
    <h2 class="text-cyan m-0">Hi, I'm Abhishek</h2>
    <div>
      <button class="btn-add ml-4" (click)="openProfile()" target="_blank"><i class="fa fa-user"></i>About me</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table_wrapper my-5 mx-3 search-centre about-me">
      I'm Entrepreneur by heart and a developer by profession. I enjoy turning complex problems into simple, beautiful,
      and interactive solutions.<br />
      I have worked across various Web applications, Native web apps(PWA), mobile apps. And love to take an idea through
      design iterations and code it up for others to enjoy, solving some complex web problems along the way. It's fun.
      <br />
      I hope you guys enjoy it !! :)
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table_wrapper my-5 mx-3 search-centre">
      <h1>Problem Statement</h1>
      <div class="mt-2">
        <button class="btn-add" (click)="openFrontEndAssignment()">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          Open assignment
        </button>
      </div>
      <div class="about-me">
        <br />
        <h2>Objective One - The Game</h2>
        Create a small browser based game using Angular and the Golang server provided. The game should highlight your
        skills as a Frontend dev. We are not just looking for clean framework and service code (although essential), but
        also a flair for frontend implementation and design. We want the app to sing - We are a consumer facing games
        company so this is essential. A backend Golang server is provided for you to interface with.<br />
        <br />
        <h2>Objective Two - The Test</h2>
        Create at least one integration test that we can use to integrate into our CICD pipeline. The objective here is
        to show us that you understand and can implement a decent structure for providing our QA a scaffold to build and
        maintain integration tests on the app. Unit and component tests will also be awarded points, but are not the
        primary objective of this task.<br />
        <br />
        <h2>Objective Three - Feedback</h2>
        Please provide feedback to justify your implementation; highlight where you feel you shined; explain where you
        fell short; highlight where we fell short (bugs/implementation); This is our first front-end test, so any
        feedback at all is really appreciated.<br />
      </div>
    </div>
  </div>
</div>
