<div class="overlay__mobile zi-9"></div>
<div class="row mt-100">
  <div class="col-lg-8 col-md-6 col-sm-12 bg__mobile d-flex-centre set_img__position">
    <img class="wd-100" src="../../assets/images/leads/gamer.jpg" />
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 d-flex-centre zi-10">
    <div class="d-flex d-flex-col">
      <div class="heading__container mt-5">Network Gamming</div>
      <div class="sub_heading__container mt-4">Adventure time</div>
      <hr />
      <span class="text__section mt-5">
        <p class="main__subtext">Call yourself a gamer ? Then why are you waiting for. Let's see what you got.</p>
        <p class="click__text">Click the below button to get the party started.</p>
      </span>
      <div class="game_started__container">
        <button (click)="startGame()" class="btn-save w-150 h-45 ft-18">Let's begin !!!</button>
      </div>
    </div>
  </div>
</div>
